<div class="auth-page container-fluid p-0">
  <div class="row min-vh-100 g-0">

    <!-- Left Side -->
    <div class="col-lg-6 text-side">

      <div class="content-wrapper">

        <div class="brand mb-5">
          <div class="logo">
            <h2>Egy</h2>
            <h2>E-Passport</h2>
          </div>
          <p>Smart Digital Travel Identity</p>
        </div>

        <div class="hero-content">
          <h1 class="text-center fw-bold lh-base fs-1 fs-lg-2 fs-xl-1" dir="rtl">
            هويتك الرقمية..<br />
            سفرك أسهل وأأمن
          </h1>

          <p class="description text-center mt-4" dir="rtl">
            منصة الهوية الرقمية الذكية لجواز السفر الإلكتروني
            لحماية هويتك وتسهيل سفرك في كل مكان
          </p>
        </div>

        <div class="features row text-center mt-5">

          <div class="col-4">
            <div class="feature-icon">
              <i class="fa-solid fa-shield-halved"></i>
            </div>
            <h6>أمان عالي</h6>
            <small>حماية متقدمة لهويتك الرقمية</small>
          </div>

          <div class="col-4">
            <div class="feature-icon">
              <i class="fa-regular fa-clock"></i>
            </div>
            <h6>سرعة وكفاءة</h6>
            <small>إجراءات أسرع وتجربة أفضل</small>
          </div>

          <div class="col-4">
            <div class="feature-icon">
              <i class="fa-solid fa-globe"></i>
            </div>
            <h6>تواصل عالمي</h6>
            <small>هوية ذكية معتمدة عالمياً</small>
          </div>

        </div>

      </div>
    </div>

    <!-- Right Side -->
    <div class="col-lg-6 form-side">


      <app-lang class="position-fixed end-0 p-4 top-0 mt-4"  style="z-index: 1050;"></app-lang>


      <div class="login-card">
<div class="d-flex align-items-center justify-content-center gap-3 mb-4">

  <!-- Icon -->
  <div
    class="rounded-circle bg-white shadow-sm d-flex align-items-center justify-content-center border"
    style="width: 70px; height: 70px;"
  >
    <i class="fa-solid fa-lock text-danger fs-4"></i>
  </div>

  <!-- Text -->
  <div class="text-end">
    <h2 class="fw-bold mb-1">تسجيل الدخول</h2>
    <p class="text-muted mb-0 text-center">مرحباً بك مجدداً</p>
  </div>

</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <app-field dir="rtl"
    label="البريد الإلكتروني أو رقم الهاتف"
    placeholder="أدخل البريد الإلكتروني أو رقم الهاتف"
    [control]="emailOrPhone"
    [icon]="'fa-user'"
  />

  <app-field dir="rtl"
    label="كلمة المرور"
    placeholder="أدخل كلمة المرور"
    [control]="password"
    [icon]="'fa-solid fa-lock'"
    type="password"
  />

  <div class="d-flex justify-content-between align-items-center my-3">
    <a class="forgot-password text-danger text-decoration-none" style="cursor: pointer;">نسيت كلمة المرور؟</a>

    <div class="form-check d-flex align-items-center gap-2">
      <input class="form-check-input m-0" type="checkbox" id="remember" />
      <label class="form-check-label user-select-none" for="remember">تذكرني</label>
    </div>
  </div>

  <app-btn
    label="تسجيل الدخول"
    width="100%"
    customColor="#B3000E"
    [iconClass]="'fa-solid ' "
    [isDisabled]="loginForm.invalid"
  />

</form>

        <div class="divider">
          <span>أو تابع باستخدام</span>
        </div>

      <div class="social-login row g-3">

  <div class="col-4">
    <button class="social-btn w-100">
      <i class="fa-brands fa-google google-icon"></i>
      <span>Google</span>
    </button>
  </div>

  <div class="col-4">
    <button class="social-btn w-100">
      <i class="fa-brands fa-apple apple-icon"></i>
      <span>Apple</span>
    </button>
  </div>

  <div class="col-4">
    <button class="social-btn w-100">
      <i class="fa-solid fa-fingerprint fingerprint-icon"></i>
      <span>البصمة</span>
    </button>
  </div>

      </div>

      <div class="signup mt-4 text-center">
          <a class="text-decoration-none text-danger fw-bold m-4" routerLink="/signup">انشاء حساب جديد </a>
        <p class="mb-0 d-inline-block">ليس لديك حساب؟</p>

      </div>

      </div>

    </div>

  </div>
</div>
