<div class="auth-page container-fluid p-0">
  <div class="row min-vh-100 g-0">

    <div class="col-lg-6 text-side">

    </div>

    <div class="col-lg-6 col-sm-12 col-md-12 form-side position-relative">

       <!-- Language Switcher -->
      <app-lang
        class="position-absolute top-0 m-4"
        [ngClass]="activeLang.dir === 'rtl' ? 'end-0' : 'start-0'"
        style="z-index: 1050;"
      ></app-lang>

      <div class="login-card my-5 p-0" style="max-width: 850px;">

        <mat-stepper [ngStyle]="{backgroundColor: '#fefefe'}" [linear]="true" #stepper dir="rtl" class="custom-stepper">

          <!-- personal information step 1 -->

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel>إنشاء الحساب</ng-template>

            <div class="text-center mb-4">
              <div class="rounded-circle bg-light d-inline-flex align-items-center justify-content-center border mb-3" style="width: 75px; height: 75px;">
                <i class="fa-solid fa-user-plus text-secondary fs-3"></i>
              </div>
              <h2 class="fw-bold mb-1 text-dark">إنشاء حساب جديد</h2>
              <p class="text-muted mb-0 small">انضم إلى منصة جواز السفر الإلكتروني</p>
            </div>

            <form dir="rtl" [formGroup]="signupForm" class="py-2">
              <div class="row g-3">

                <div class="col-md-6">
                  <app-field
                    label="الاسم الكامل"
                    placeholder="أدخل اسمك الكامل"
                    [control]="signupForm.controls.fullName"
                    [icon]="'fa-regular fa-user'"
                  />
                </div>

                <div class="col-md-6">
                  <app-field
                    label="الرقم القومي"
                    placeholder="14 رقم"
                    [control]="signupForm.controls.nationalId"
                    [icon]="'fa-regular fa-id-card'"
                  />
                </div>

                <div class="col-md-6">
                  <app-field
                    label="البريد الإلكتروني"
                    placeholder="example@domain.com"
                    [control]="signupForm.controls.email"
                    [icon]="'fa-regular fa-envelope'"
                  />
                </div>

                <div class="col-md-6">
                  <app-field
                    label="رقم الهاتف المحمول"
                    placeholder="10xxxxxxxx"
                    [control]="signupForm.controls.phone"
                    [icon]="'fa-solid fa-phone'"
                  />
                </div>

                <div class="col-12">
                  <app-field
                    label="كلمة المرور"
                    placeholder="أدخل كلمة المرور"
                    [control]="signupForm.controls.password"
                    [icon]="'fa-solid fa-lock'"
                    type="password"
                  />
                  <!-- <div class="d-flex align-items-center gap-2 mt-1 px-1">
                    <span class="text-muted" style="font-size: 11px;">قوة كلمة المرور: ضعيفة</span>
                    <div class="flex-grow-1 bg-light rounded" style="height: 4px;">
                      <div class="bg-danger rounded" style="width: 50%; height: 100%;"></div>
                    </div>
                  </div> -->
                </div>

                <div class="col-12">
                  <app-field
                    label="تأكيد كلمة المرور"
                    placeholder="أعد إدخال كلمة المرور"
                    [control]="signupForm.controls.confirmPassword"
                    [icon]="'fa-solid fa-lock'"
                    type="password"
                  />
                </div>

              </div>

              <div class="form-check d-flex align-items-center justify-content-start gap-2 my-4">
                <input class="form-check-input m-0" type="checkbox" id="terms" formControlName="agreeToTerms" />
                <label class="form-check-label small user-select-none" for="terms">
                  أوافق على <a class="text-danger text-decoration-none fw-semibold" style="cursor: pointer;">الشروط والأحكام وسياسة الخصوصية</a>
                </label>
              </div>

              <button mat-raised-button class="w-100 py-3 custom-btn" [disabled]="signupForm.invalid" matStepperNext>
                <i class="fa-solid fa-user-plus me-2"></i> إنشاء حساب
              </button>
            </form>
          </mat-step>

            <!-- personal information step 2 -->
          <mat-step [stepControl]="personalForm">
            <ng-template matStepLabel>البيانات الشخصية</ng-template>
            <form [formGroup]="personalForm" class="py-3">
              <div class="text-center mb-4">
                <h3 class="fw-bold text-dark">استكمال البيانات الشخصية</h3>
                <p class="text-muted small">يرجى تحديد تفاصيل العنوان الحالي</p>
              </div>

           <div class="row g-3">

            <!-- nationality -->
          <div class="col-md-6">
            <app-field
              label="الجنسية"
              placeholder="مثال: مصري"
             [control]="personalForm.controls.nationality"
             [icon]="'fa-solid fa-flag'"
           />
         </div>

         <!-- birth of date  -->
         <div class="col-md-6">
        <span class="form-label fw-medium mx-2">
      تاريخ الميلاد
    </span>

    <div class="input-group birhtdate-field">
      <span class="input-group-text">
        <i class="fa-solid fa-calendar-days"></i>
      </span>

      <input
        type="date"
        class="form-control "
        formControlName="birthDate"
      />
    </div>
  </div>

  <!-- gender -->
  <div class="col-md-6">
    <label class="form-label fw-medium">
      النوع
    </label>

    <div class="input-group gender-field">
      <span class="input-group-text">
        <i class="fa-solid fa-venus-mars"></i>
      </span>

      <select

        class="form-select"
        formControlName="gender">

        <option value="">
          اختر النوع
        </option>

        <option value="male">
          ذكر
        </option>

        <option value="female">
          أنثى
        </option>
      </select>
    </div>
  </div>

  <!-- governorate -->
  <div class="col-md-6">
    <app-field
      label="المحافظة"
      placeholder="اختر المحافظة"
      [control]="personalForm.controls.governorate"
      [icon]="'fa-solid fa-map-location-dot'"
    />
  </div>

<!-- address -->
  <div class="col-12">
    <app-field
      label="العنوان الحالي"
      placeholder="المحافظة، المركز، اسم الشارع"
      [control]="personalForm.controls.address"
      [icon]="'fa-solid fa-location-dot'"
    />
  </div>

</div>

              <div class="d-flex gap-2 mt-4">
                <button type="button" mat-button matStepperPrevious>السابق</button>
                <button type="button" mat-raised-button class="flex-grow-1 custom-btn" [disabled]="personalForm.invalid" matStepperNext>
                  التالي: رفع المستندات <i class="fa-solid fa-arrow-left ms-2"></i>
                </button>
              </div>
            </form>
          </mat-step>



          <!-- step 3 upload documents -->

          <mat-step [stepControl]="documentsForm">
  <ng-template matStepLabel>
    رفع المستندات
  </ng-template>

  <form [formGroup]="documentsForm" class="py-3">

    <div class="text-center mb-4">
      <h3 class="fw-bold text-dark">
        رفع المستندات الرسمية
      </h3>

      <p class="text-muted small">
        يمكنك رفع أكثر من مستند
      </p>
    </div>

    <!-- Upload Area -->
    <div
      class="border rounded text-center p-5 mb-4 bg-light"
      style="border-style: dashed !important; cursor: pointer;"
      (click)="fileInput.click()"
    >

      <i class="fa-solid fa-cloud-arrow-up fs-1 text-secondary mb-3"></i>

      <h6>
        اضغط لرفع الملفات
      </h6>

      <small class="text-muted">
        PNG, JPG, JPEG, PDF
      </small>

      <input
        #fileInput
        type="file"
        multiple
        hidden
        accept=".png,.jpg,.jpeg,.pdf"
        (change)="onFilesSelected($event)"
      />
    </div>

    <!-- Preview Files -->
    @if(selectedFiles.length > 0){

      <div class="row g-3 mb-4">

        @for(file of selectedFiles; track $index){

          <div class="col-md-4">

            <div class="card shadow-sm border-0 rounded-4 overflow-hidden h-100">

              <!-- Image Preview -->
              @if(file.preview){

                <img
                  [src]="file.preview"
                  class="card-img-top"
                  style="height: 220px; object-fit: cover;"
                />

              } @else {

                <div
                  class="d-flex flex-column justify-content-center align-items-center p-5 bg-light"
                  style="height: 220px;"
                >
                  <i class="fa-solid fa-file-pdf fs-1 text-danger"></i>
                  <small class="mt-2">
                    PDF File
                  </small>
                </div>
              }

              <div class="card-body text-center">

                <small class="text-muted d-block text-truncate">
                  {{ file.file.name }}
                </small>

                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger mt-2"
                  (click)="removeFile($index)"
                >
                  حذف الملف
                </button>

              </div>

            </div>

          </div>

        }

      </div>
    }

    <!-- Validation -->
    @if(
      documentsForm.controls.docUploaded.touched &&
      documentsForm.controls.docUploaded.invalid
    ){

      <small class="text-danger d-block text-center mb-3">
        يجب رفع ملف واحد على الأقل
      </small>
    }

    <div class="d-flex gap-2">

      <button
        type="button"
        mat-button
        matStepperPrevious
      >
        السابق
      </button>

      <button
        type="button"
        mat-raised-button
        class="flex-grow-1 custom-btn"
        [disabled]="documentsForm.invalid"
        matStepperNext
        (click)="startTimer()"
      >
        التالي: التحقق
        <i class="fa-solid fa-arrow-left ms-2"></i>
      </button>

    </div>

  </form>
</mat-step>




          <mat-step>
            <ng-template matStepLabel>التحقق</ng-template>
            <div class="verification-container text-center py-4">
              <div class="rounded-circle bg-light d-inline-flex align-items-center justify-content-center border mb-3 position-relative" style="width: 85px; height: 85px;">
                <i class="fa-solid fa-mobile-screen-button text-dark fs-1"></i>
                <i class="fa-solid fa-circle-check text-success position-absolute bottom-0 end-0 fs-4 m-1"></i>
              </div>

              <h3 class="fw-bold text-dark mb-1">التحقق من رقم الهاتف</h3>
              <p class="text-muted small px-4">تم إرسال رمز تحقق مكون من 6 أرقام إلى رقم الهاتف المسجل</p>

              <div class="bg-light rounded border py-2 px-3 d-inline-flex align-items-center gap-2 my-3">
                <i class="fa-solid fa-mobile-screen text-muted"></i>
                <span class="text-secondary dir-ltr">{{ signupForm.value.phone || '010****678' }}</span>
                <span class="text-muted small">تم إرسال الرمز إلى</span>
              </div>

              <div class="d-flex justify-content-center flex-column gap-2 my-4 dir-ltr">


                <p class="mb-0 fw-bold ">أدخل رمز التحقق (OTP)</p>
                <form [formGroup]="otpForm">
                  <input type="text" class="form-control text-center fw-bold fs-4 mx-auto"  placeholder="من فضلك أدخل الرمز"  style="width: 250px; height: 55px;" maxLength="6" formControlName="otp" />
                </form>
              </div>

              <div class="badge bg-light text-success border py-2 px-3 rounded-pill mb-3">
                <i class="fa-regular fa-circle-check me-1"></i> الرمز صالح لمدة 5 دقائق
              </div>

              <div class="text-muted small mb-4">
                ينتهي الرمز خلال: <span class="text-danger fw-bold ms-1"><i class="fa-regular fa-clock me-1"></i> {{ timerText }}</span>
              </div>

              <div class="d-flex justify-content-center gap-3 mb-4 w-100 px-3">
                <button type="button" class="btn btn-outline-secondary flex-grow-1 py-2 btn-sm" matStepperPrevious><i class="fa-regular fa-pen-to-square me-1"></i> تعديل رقم الهاتف</button>
                <button type="button" class="btn btn-outline-danger flex-grow-1 py-2 btn-sm" [disabled]="timer > 0"><i class="fa-solid fa-rotate-right me-1"></i> إعادة إرسال الرمز</button>
              </div>

              <button type="button" mat-raised-button class="w-100 py-3 custom-btn fs-5" (click)="onSubmitAll()">
                تحقق وتأكيد التسجيل <i class="fa-solid fa-arrow-left ms-2"></i>
              </button>
            </div>
          </mat-step>

        </mat-stepper>

        <div class="mt-4 text-center d-flex justify-content-center p-4 gap-1 small">
          <a class="text-decoration-none text-danger fw-bold " routerLink="/login">تسجيل الدخول</a>
          <p class="mb-0 text-muted">لديك حساب بالفعل؟</p>
        </div>

      </div>
    </div>

  </div>
</div>
