<p>signup works!</p>



 <form [formGroup]="SignUpForms">

          <app-field dir="rtl"
            label="البريد الإلكتروني أو رقم الهاتف"
            placeholder="أدخل البريد الإلكتروني أو رقم الهاتف"
            [control]="emailOrPhone"
            [icon]="'fa-user'"
          />

          <app-field dir="rtl"
            label="كلمة المرور"
            placeholder="أدخل كلمة المرور"
            [control]="password"
            [icon]="'fa-solid fa-lock'"
            type="password"
          />

          <div class="d-flex justify-content-between align-items-center my-3">
            <a class="forgot-password text-danger text-decoration-none">نسيت كلمة المرور؟</a>

            <div class="form-check">
              <label class="form-check-label" for="remember">تذكرني</label>
              <input class="form-check-input" type="checkbox" id="remember" />
            </div>
          </div>

          <app-btn
            label="تسجيل الدخول"
            width="100%"
            customColor="#B3000E"
            [iconClass]="'fa-solid fa-arrow-left-long'"
          />

        </form>
